.w-miniLogo {
  position: absolute;
  padding: 20px 0;
  @include span(12);
  bottom: 0;
  left: 0;
  @include mdmax(900) {
    position: static;
    text-align: center;
  }
}

.c-miniLogo {
  float: right;
  width: 200px;
  height: 150px;
  @extend %elementBg;
  display: inline-block;
  vertical-align: bottom;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  cursor: pointer;
  transition: all 1s ease;
  @include mdmax(900) {
    width: 150px;
    height: 100px;
    float: none;
  }
}

