.w-quickstartButton {
  /*display: flex;
  align-content: center;
  height: 100%;
  text-align: right;
  flex-wrap:wrap;
  justify-content: flex-end;
  @include mdmax(900) {
    justify-content: center;
  }*/
  text-align: center;
    background-image: url(../img/stick.png);
    @extend %elementBg;
    height: 380px;
    @include mdmax(700){
        height: 275px;
    }
}

.c-quickstartButton {
  height: 110px;
  @extend %elementBg;
  background-color: transparent;
  content: '';
  display: block;
  margin:0 auto;
  //float: right;
  @include mdmax(700){
    height: 80px;
  }
  &__snack {
    width: 400px;
    background-size: 400px 130px;
    padding-top: 75px;
    background-image: url(../img/fancy.png) !important;
    @include mdmax(700){
      background-size:270px 80px; width: 300px;
      padding-top: 50px;
    }
  }
  &__customer {
    width: 500px;
    background-size: 500px 110px;
    background-image: url(../img/find.png) !important;
    @include mdmax(700){
      background-size:300px 80px; width: 300px;
    }
  }
}