/*@font-face {
  font-family: Kids;
  src: local("Kids"), url(/fonts/Kids52-Regular.otf)
}
@font-face{
  font-family: Comic Sans;
  src: local("Comic Sans"), url(/fonts/ComicRelief.ttf)
}*/
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Bad+Script&subset=cyrillic');
/*
@font-face {
  font-family: KBG;
  src: local("KGB"), url(/fonts/KGBrokenVesselsSketch.ttf)
}*/
