//***************************************

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/*usage

  .element{
    @extend %clearfix
  }

*/

//*************************************

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* usage

  .element{
    @extend %visuallyhidden;
  }

*/

//************************************
%elementBg {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

%min100{
  min-height:100vh;
}

%section {
  background-size: cover;
  background-repeat: no-repeat;
  content: '';
  background-position: center center;
  color: #ffffff;
  @extend %min100;
}

%sectionDefault{
  @include mdmax(500){
    background-image: url(../img/bg3_320.jpg);
  }
  @include mdmax(1200){
    background-image: url(../img/bg3_1200.jpg);
  }
  @include mdmax(10000){
    background-image: url(../img/bg3_1920.jpg);
  }
}

%iconImg{
  height: 300px;
  width: 300px;
  margin: 20px auto;
  @extend %elementBg;
  @include mdmax(600){
    height: 200px;
    width: 200px;
  }
}

%section-title {
  @include font(50px, 0.8);
  margin: 0;
  @include lobster(400);
  @include mdmax(700) {
    @include font(24px, 0.8);
    margin: 20px auto;
  }
  @include mdmaxHeight(500) {
    @include font(36px, 0.8);
    margin-top: 10px;
  }
}

%text-tip {
  @include font(16px, 1.5);
  @include badScript(400);
  @include mdmax(600){
      @include font(14px, 1.5);
  }
}

%text-popup-title {
  @include font(50px, 0.8);
  margin: 20px 0;
  @include lobster(400);
  @include mdmax(700) {
    @include font(24px, 0.8);
  }
}

%text-popup {
  @include font(20px, 1.5);
  @include badScript(400);
  margin:10px 0;
  @include mdmax(700) {
    @include font(14px, 1.5);
  }
  @include mdmaxHeight(500) {
    @include font(14px, 1.5);
  }
}

%popup-close {
  @include font(56px, 1);
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  transition: all 1.5s ease;
  &:hover {
    transform: rotate(360deg)
  }
  @include mdmax(700){
      @include font(24px, 1);
  }
}

%large-popup{
  @extend %clearfix;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  width:calc(100% - 40px);
  min-height: 100%;
  min-height: calc(100% - 40px);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  //opacity: 1;
  transition: all 1s ease;
  z-index: 0;
  text-align: center;
  @extend %sectionDefault;
}