@mixin font($fontSize, $lineHeight) {
  font-size: $fontSize;
  font-size: calculateRem($fontSize, $baseFontSize);
  line-height: $lineHeight;
  @content;
}

@mixin mdmax($arg){
  @media screen and(max-width: $arg + px){
    @content;
  }
}

@mixin mdmaxHeight($arg){
  @media screen and(max-height: $arg + px){
    @content;
  }
}

@mixin lobster($fontWeight){
  font-family: 'Lobster', cursive;
  font-weight: $fontWeight;
}

@mixin badScript($fontWeight){
  font-family: 'Bad Script', cursive;
  font-weight: $fontWeight;
}