.w-preload{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color: #212121;
  @extend %sectionDefault;
  //background-image: url('../img/bg3.jpg');
  background-size:100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  //opacity: 1;
  transition: all 2s ease;
  overflow: hidden;
}
.c-preload{
  margin-top: -20px;
  &__img{
    /*height: 128px;
    width: 128px;
    background-image: url('../img/preload.gif');*/
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    &:after{
      border-radius: 50%;
      width: 10em;
      height: 10em;
    }
  }
  &__bar{
    text-align: center;
    @include font(40px, 1);
    font-family: Comic Sans;
    color: #ffffff;
  }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}