.s-start {
  @extend %section;
  background-image: url('../img/bg1.jpg');
  text-align: center;
  transition: all 1.5s ease;
  opacity: 1;
  @include mdmax(500){
    background-image: url(../img/bg1_320.jpg);
  }
}

.c-logo {
  text-align: center;
  content: '';
  height: 300px;
  width: 300px;
  display: inline-block;
  //background-image: url('../img/logo.svg');
  @extend %elementBg;
  &:hover {
    cursor: pointer;
  }
  @include mdmax(600){
    height: 200px;
    width: 200px;
  }
}

.c-language{
  position: fixed;
  top: 10px;
  right:30px;
  width: 50px;
  z-index:10;
  &__select {
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    list-style-type: none;
    margin:0;
    width: 100%;
    @include lobster(400);
    padding: 0 0 0 30px;
    @include font(24px, 1);
    color:#fff;
    cursor: pointer;
    &.init {
      cursor: pointer;
    }
    &_item {
      @include font(18px, 1.25);
      padding: 10px 0;
      z-index: 2;
      width: 100%;
      cursor: pointer;
      display: block;
      margin: 0;
      &:not(.init) {
        float: left;
        display: none;
      }
      &.init{
        @include font(24px, 1);
        padding:10px;
      }
    }
    &_triangle {
      position: absolute;
      top: 5%;
      left: 0;
      content: '';
     /* border: 5px solid transparent;
      border-right: 5px solid #fff;*/
      background-image: url(../img/arrow_landing.png);
      transition: all .3s ease;
      height: 20px;
      width: 20px;
      background-size:100%;
      background-position: center center;
      background-repeat: no-repeat;
      pointer-events: none;
      &.triangle-rotate {
        transform: rotate(-90deg)
      }
    }
  }
}