.s-quickstart {
  @extend %section;
  @extend %sectionDefault;
  //background-image: url('../img/bg3.jpg');
  .w-miniLogo {
    display: none;
    @include mdmax(900) {
      display: block;
    }
    @include mdmaxHeight(500) {
      padding: 20px 0 0 0;
    }
  }
  &__title {
    @include font(112px, 1);
    @include lobster(400);
    @include mdmax(900) {
      @include font(96px, 1);
    }
    @include mdmax(700) {
      @include font(42px, 1);
    }
    @include mdmaxHeight(500) {
      @include font(42px, 1);
    }
  }
  &__left {
    @include span(6);
    height: 400px;
    @include mdmax(900) {
      @include span(12);
      height: auto;
    }

  }
  &__right {
    @include span(6);
    @include mdmax(900) {
      display: none;
    }
  }
}

.w-quickstart{
  &__title {
    position: absolute;
    @include span(12);
    top: 20px;
    left: 0;
    @include mdmax(900) {
      position: static;
      @include span(12);
      text-align: center;
      margin: 50px 0;
    }
  }
}

.c-quickstartImg {
  text-align: center;
  height: 370px;
  width: 90%;
  @extend %elementBg;
  margin: 0 auto;
}

.w-contacts {
  @include span(12);
  position: absolute;
  left: 0;
  bottom: 0;
  @include mdmax(900) {
    position: static;
    text-align: center;
  }
}

.c-contacts {
  @include badScript(400);
  width: 50%;
  float: left;
  @include mdmax(900) {
    text-align: center;
    width: 100%;
    float: none;
  }
  &__title {
    @include font(24px, 1.5);
    margin: 0;
    @include mdmax(900) {
      margin-top: 30px;
    }
    @include mdmax(700) {
      @include font(14px, 1.5);
      margin-top: 10px;
    }
    @include mdmaxHeight(500) {
      @include font(14px, 1.5);
    }
  }
  &__mail {
    @include font(16px, 1.5);
    @include mdmax(700) {
      @include font(12px, 1.5);
      margin: 5px 0;
    }
    @include mdmaxHeight(500) {
      @include font(12px, 1.5);
      margin: 5px 0;
    }
  }
  &__social {
    i{
      @include font(40px, 1.5);
      padding: 0 20px;
      @include mdmax(700){
          @include font(20px, 1.5);
      }
      @include mdmaxHeight(500){
          @include font(20px, 1.5);
      }
    }
  }
}
