
.s-forCustomer {
  @extend %section;
  @extend %sectionDefault;
  //background-image: url('../img/bg3.jpg');
  text-align: center;
}

.c-contentMan {
  z-index: 2;
  transition: all 1s ease;
  position: relative;
  @extend %clearfix;
  @include span(12);
  &__title {
    @extend %section-title;
  }
  &__img {
    background-image: url(../img/man.png);
    @extend %iconImg;
    cursor: pointer;
    &:hover{
      background-image: url(../img/man_hover.png);
    }
  }
  &__tip{
    @extend %text-tip;
  }
  .w-contentMan__list {
    width:span(6);margin:30px auto;
    @include mdmax(900){
        width:span(11);
    }
  }
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      @extend %text-tip;
    }
  }
}

.c-popupMan {
  @extend %clearfix;
  @extend %large-popup;
  &__title{
    @extend %text-popup-title;
  }
  &__text{
    @extend %text-popup;
  }
  &__close{
    @extend %popup-close;
  }
}
