.s-welcome {
  @extend %section;
  @extend %sectionDefault;
  //background-image: url('../img/bg3.jpg');
  text-align: center;
  color: #ffffff;
  a {
    color: #ffffff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .w-miniLogo{
    display: none;
    @include mdmax(900){
      display: block;
    }
  }
}

.c-welcomeText {
  width: span(6);
  margin: 30px auto;
  @include mdmax(900){
      @include span(12);
  }
  &__title{
    @extend %section-title;
  }
  &__description{
    @include font(20px, 1.5);
    @include badScript(400);
    @include mdmax(700){
        @include font(14px, 1.5);
    }
    @include mdmaxHeight(500){
      @include font(14px, 1.5);
    }
  }
}

.c-welcomeImg {
  //background-image: url(../img/de_coffe_welcome_u.png);
  height: 300px;
  width: 300px;
  @extend %elementBg;
  margin: 0 auto;
  &:hover {
    cursor: pointer;
  }
  @include mdmax(900){
    display: none;
  }
  svg {
    height: 30vh;
  }
}

.sec2 .mini-logo-wrapper {
  display: none;
}

