.s-forProvider {
  @extend %section;
  @extend %sectionDefault;
  text-align: center;
  //background-image: url('../img/bg3.jpg');
}

.c-contentProvider {
  transform: translateZ(0);
  z-index: 2;
  transition: all 1s ease;
  position: relative;
  @extend %clearfix;
  @include span(12);
  &__title {
    @extend %section-title;
    margin-left:-25px;
  }
  &__img {
    background-image: url(../img/carret.png);
    @extend %iconImg;
    &:hover{
      background-image: url(../img/carret_hover.png);
    }
  }
  &__tip {
    @extend %text-tip;
  }
  .w-contentProvider__list {
    width: span(6);
    margin: 30px auto;
    @include mdmax(900) {
      width: span(11);
    }
  }
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      @extend %text-tip;
    }
  }
}

.c-popupProvider {
  @extend %large-popup;
  @extend %clearfix;
  &__title {
    @extend %text-popup-title;
  }
  &__text {
    @extend %text-popup;
  }
  &__close {
    @extend %popup-close;
  }
}